.login-wrapper {
 max-width: 636px;
    height: 442px;
    width: 100%;
    background: white;
}

/* INPUT WITH ICON */
.icon-input {
  display: flex;
  align-items: center;
  gap: 12px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
}

.icon-input svg {
  font-size: 18px;
  color: #555;
}

.icon-input input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 15px;
}

/* BUTTON */
.btn-primary {
  background-color: #0d6efd;
  border: none;
  padding: 12px;
  border-radius: 8px;
}

.btn-primary:hover {
  background-color: #0b5ed7;
}

/* LINKS */
.forgot-link {
  color: #0d6efd;
  font-size: 14px;
  text-decoration: none;
}

.signup-text {
  font-size: 14px;
}

.signup-text a {
  color: #0d6efd;
  text-decoration: none;
}

/* RIGHT IMAGE */
.login-image {
  background: url("https://images.unsplash.com/photo-1517248135467-4c7edcad34c4")
    center / cover no-repeat;
  position: relative;
}

.overlay {
  background: rgba(111, 66, 193, 0.9);
  color: white;
  padding: 60px 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overlay h3 {
  font-size: 28px;
  line-height: 1.3;
  margin-bottom: 10px;
}

.overlay p {
  font-size: 16px;
}
