.login-container {
  display: flex;
  min-height: 100vh;
}

.login-left {
  flex: 1;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-left h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.input-group input {
  border: none;
  outline: none;
  padding: 10px;
  flex: 1;
}

.icon {
  color: #777;
}

.login-btn {
  background: #0d6efd;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 6px;
  margin-top: 10px;
}

.signup-text {
  margin-top: 15px;
}

.login-right {
  flex: 1;
  background: linear-gradient(rgba(98, 0, 238, 0.8), rgba(98, 0, 238, 0.8)),
    url("https://images.unsplash.com/photo-1524758631624-e2822e304c36");
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  text-align: center;
  padding: 40px;
}

.error {
  color: red;
  margin-bottom: 10px;
}

/* Mobile */
@media (max-width: 768px) {
  .login-right {
    display: none;
  }

  .login-left {
    padding: 30px;
  }
}
