.about-section {
  margin-top: 80px;
}

.about-title {
  font-size: 2.7rem;
  font-weight: 700;
  color: #4e3cb8;   
  margin-bottom: 15px;
}

.about-para {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #000000;
  margin-bottom: 25px;
  max-width: 450px;
}

.about-btn {
  display: inline-block;
  padding: 12px 30px;
  background: #ffb300;
  color: #fff;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: 0.3s ease;
}

.about-btn:hover {
  background: #e09c00;
}

.about-img {
  width: 90%;
  max-width: 500px;
  border-radius: 20px;
}
