
.perfume-footer {
 background-color: black;
    width: 100%;
    padding: 40px 0 10px;
    margin-top: 50px;
    /* background: rgba(255, 255, 255, 0.08); */
    backdrop-filter: blur(10px);
    color: #fff;
    text-align: center;
    opacity: 0.8;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
}

.footer-brand h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.footer-brand p {
  font-size: 0.9rem;
  opacity: 0.8;
}


.footer-links h4,
.footer-social h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: 600;
}

.footer-links a {
  display: block;
  margin-bottom: 6px;
  color: #fff;
  text-decoration: none;
  opacity: 0.8;
  transition: 0.3s;
}

.footer-links a:hover {
  opacity: 1;
  transform: translateX(5px);
}


.social-icons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.social-icons a {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-size: 18px;
  border: 1px solid rgba(255,255,255,0.4);

  transition: 0.3s;
}

.social-icons a:hover {
  background: #fff;
  color: #000;
}


.footer-bottom {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid rgba(255,255,255,0.3);
  font-size: 0.9rem;
  opacity: 0.8;
}
